    #canvas {
        border: 2px solid #cccccc;
    }

    .top-bar{
      margin-top: 10px;
    }

    .card {
        margin-bottom: 16px;
    }

    .card .card-nav  {
        font-size: 0.8rem;
        padding-top: 8px;
    }

    #paper {
        background: rgba(0, 0, 0, 0.03);
        border: 1px solid rgba(0,0,0,0.08);
        border-radius: 0.4rem;
    }

    .joint-paper > svg {
        top: 50px;
    }