    #canvas {
        border: 2px solid #cccccc;
    }

    .top-bar{
      margin-top: 10px;
    }

    .card {
        margin-bottom: 16px;
    }

    .card .card-nav  {
        font-size: 0.8rem;
        padding-top: 8px;
    }

    #paper {
        background: rgba(0, 0, 0, 0.03);
        border: 1px solid rgba(0,0,0,0.08);
        border-radius: 0.4rem;
        min-height: 500px;
        height: 100%;
    }

    #paper-container {
        overflow: scroll;
        width: 600px;
        height: 500px;
        border: 2px solid #3c4260;
    }

    #graph {
        height: 100%;
        overflow: scroll;
        width: 100%;
    }

    .modal-samples-list li {
        margin-bottom: 16px;
    }

    .modal-samples-list li strong {
        display: block;
    }