    #canvas {
        border: 2px solid #cccccc;
    }

    .top-bar{
      margin-top: 10px;
    }

    .card {
        margin-bottom: 16px;
    }

    .card .card-nav  {
        font-size: 0.8rem;
        padding-top: 8px;
    }

    #paper-container {
        background: rgba(0, 0, 0, 0.03);
        border: 1px solid rgba(0,0,0,0.08);
        border-radius: 0.4rem;
        overflow: scroll;
        max-height: 440px;

        cursor: grab;
        cursor : -o-grab;
        cursor : -moz-grab;
        cursor : -webkit-grab;
    }

    #paper {
        height: 100%;
    }

    .modal-samples-list {
        -webkit-padding-start: 0;
    }

    .modal-samples-list li {
        background: rgba(0, 0, 0, 0.03);
        border: 1px solid rgba(0,0,0,0.08);
        border-radius: 0.4rem;
        color: #78C2AD;
        cursor: pointer;
        list-style-type: none;
        margin-bottom: 16px;
        padding: 16px;
        text-decoration: none;
    }

    .modal-samples-list li strong {
        display: block;
    }

    input[type="file"] {
        display: none;
    }